.design-container{
  margin-left: 290px;
  position: relative;

  .design{
    width: 100%;
  }

  .marker{
    position: absolute;
    display: block;
  }
}

.needs{
  padding-top: 200px;
  margin-left: 290px;

  table{
    width: calc(100% - 400px);
    margin: 0 200px;
    border-collapse: collapse;
    background: white;

    td{
      padding: 10px;
    }

    thead{

      tr{

        td{
          background: $green2Dark;
          color: white;
        }
      }
    }

    tbody{

      tr{

        td{
          border-bottom: 1px solid rgba(0,0,0,0.1);

          &:first-child{
            font-weight: bold;
          }

          &.agree{
            background: $green2;
            color: white;
          }

          &.neutral{
            background: $yellow;
            color: white;
          }

          &.disagree{
            background: $red;
            color: white;
          }
        }
      }
    }
  }
}