@keyframes stagger{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-6deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(4deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.questionnaire-title_wrapper{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  h1{
    position: absolute;
    top: 475px;
    font-size: 3rem;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: $green;
  }

  &.thank_you-page{

    h1{
      width: 700px;
      top: 500px;
    }
  }
}

.questionnaire-question_wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: $green;

  .questionnaire-pagination{
    width: 100%;
    padding: 5px 0;
    position: relative;
    color: white;
    z-index: 10;

    .questionnaire-pagination_value{
      padding-left: 10px;
    }

    &::before{
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: rgb(138, 200, 61);
      z-index: -1;
    }

    &.question-1{

    }

    &.question-2{
      .questionnaire-pagination_value{
        margin-left: 10%;
      }

      &::before{
        width: 10%;
      }
    }

    &.question-3{
      .questionnaire-pagination_value{
        margin-left: 20%;
      }

      &::before{
        width: 20%;
      }
    }

    &.question-4{
      .questionnaire-pagination_value{
        margin-left: 30%;
      }

      &::before{
        width: 30%;
      }
    }

    &.question-5{
      .questionnaire-pagination_value{
        margin-left: 40%;
      }

      &::before{
        width: 40%;
      }
    }

    &.question-6{
      .questionnaire-pagination_value{
        margin-left: 50%;
      }

      &::before{
        width: 50%;
      }
    }

    &.question-7{
      .questionnaire-pagination_value{
        margin-left: 60%;
      }

      &::before{
        width: 60%;
      }
    }

    &.question-8{
      .questionnaire-pagination_value{
        margin-left: 70%;
      }

      &::before{
        width: 70%;
      }
    }

    &.question-9{
      .questionnaire-pagination_value{
        margin-left: 80%;
      }

      &::before{
        width: 80%;
      }
    }

    &.question-10{
      .questionnaire-pagination_value{
        margin-left: 90%;
      }

      &::before{
        width: 90%;
      }
    }

    &.done{
      .questionnaire-pagination_value{
        text-align: right;
      }

      &::before{
        width: 100%;
      }
    }
  }

  .questionnaire-question_form{
    width: 1000px;
    margin: 0 auto;
    padding:  80px 50px;
    position: relative;

    .questionnaire-question{
      color: white;

      span{
        margin: 0 0 20px 0;
        font-size: 1.1rem;
        display: block;
      }

      .questionnaire-question_label{
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 1.4rem;
      }
    }

    .questionnaire-answers{
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .questionnaire-radio_wrapper{

        input{
          display: none;
        }

        input:checked + label{
          animation-name: stagger;
          animation-duration: 0.6s;
          animation-iteration-count: 1;

          cursor: default;
          border: 1px solid white;

          &.agree{
            background: #00512c;
          }

          &.neutral{
            background: #d79b3b;
          }

          &.disagree{
            background: #b0433d;
          }
        }

        label{
          width: 100px;
          padding: 10px;
          text-align: center;
          margin: 10px 40px 10px 0;
          display: block;
          color: white;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.5s ease;
          border: 1px solid rgba(0, 0, 0, 0);

          &.agree{
            background: $green2;
          }

          &.neutral{
            background: $yellow;
          }

          &.disagree{
            background: $red;
          }

          &:hover{

            &.agree{
              background: $green2Dark;
            }

            &.neutral{
              background: $yellowDark;
            }

            &.disagree{
              background: $redDark;
            }
          }
        }
      }
    }

    .questionnaire-submit{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) scale(1);
      font-size: 30px;
      padding-left: 3px;
      border: none;
      border-radius: 50%;
      background: white;
      color: #b6b6b6;
      height: 50px;
      width: 50px;
      line-height: 0;
      text-align: center;
      vertical-align: middle;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover{
        background: #d7d7d7;
        color: grey;
        transform: translateY(-50%) scale(1.2);
      }
    }
  }

  .questionnaire-sign-up{
    padding: 80px 50px;
    width: 800px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    h2{
      width: 100%;
      text-align: center;
      padding-bottom: 50px;
      font-size: 2em;
    }

    .button{
      padding: 10px 50px;
      font-size: 1.5em;
      border-radius: 5px;
      transition: all 0.5s ease;
      color: white;
      text-decoration: none;

      &:hover{
        color: #e5e5e5;
      }

      &:visited{
        color: white;
      }

      &.red{
        background: $red;

        &:hover{
          background: $redDark;
        }
      }

      &.yellow{
        background: $yellow;

        &:hover{
          background: $yellowDark;
        }
      }
    }
  }
}
